<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- The next section shows an example of adding a sensor, in this case a depth camera. -->

    <!-- Due to a quirk of how cameras work, an extra joint/link is required to create an
            "optical frame" for the sensor. That isn't the focus for this tutorial, but you can
            look at https://www.ros.org/reps/rep-0103.html#suffix-frames for slightly more information. -->

    <joint name="camera_joint" type="fixed">
        <origin xyz="0.020 0.000 0.020" rpy="0 0 0"/>
        <parent link="gripper_main"/>
        <child link="gripper_camera_link"/>        
    </joint>

    <link name="gripper_camera_link">
		<inertial>
			<origin xyz="0 0.0 0.0425" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
        <collision>
            <origin xyz="0.000 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.010 0.020 0.020" />
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.030 0.0 0.0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder length="0.010" radius="0.010" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0.000 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.010 0.020 0.020" />
            </geometry>
            <material name="white" />
        </visual>
        <visual>
            <origin xyz="0.010 0.0 0.0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder length="0.020" radius="0.010" />
            </geometry>
            <material name="white" />
        </visual>
    </link>

    <gazebo reference="gripper_camera_link">
        <sensor type="depth" name="gripper_camera">
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <camera name="cam">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8B8G8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>500</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>