<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robko01">

    <!-- This will include all the contents of example_include.xacro first. Go check it out! -->
    <xacro:include filename="include.xacro" />

    <!-- This first link called "world" is empty -->
    <link name="world"></link>

    <!-- A simple fixed joint from our empty world link, to our base. -->
    <!-- The base origin is offset from the world origin. -->
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="base_link"/>        
    </joint>
	<link name="base_link">
		<inertial>
			<origin xyz="-0.0685 0.0 0.027" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<visual name="f1">
			<origin xyz="0.0315 0.0635 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_foot.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f2">
			<origin xyz="0.0315 -0.0635 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_foot.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f3">
			<origin xyz="-0.1675 0.0635 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_foot.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f4">
			<origin xyz="-0.1675 -0.0635 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_foot.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="base_case">
			<origin  xyz="-0.065 0.0 0.011" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_case.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="base_lid">
			<origin  xyz="-0.065 0.0 0.011" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_lid.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<joint name="base" type="revolute">
		<parent link="base_link" />
		<child link="torso_link" />
		<origin xyz="0.0 0.0 0.050" rpy="0.0 0.0 0.0" />
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="torso_link">
		<inertial>
			<origin xyz="-0.0385 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<visual name="torso_axis">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="blue"/>
		</visual>
		<visual name="torso_side_left">
			<origin xyz="-0.0415 0.0388 0.0925" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/torso_side_left.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</visual>
		<visual name="torso_bottom">
			<origin xyz="-0.120 0.037 -0.001" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/torso_bottom.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual>
		<visual name="torso_side_right">
			<origin xyz="0.0 -0.0385 0.100" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/torso_side_right.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="axis_06x80">
			<origin xyz="-0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/axis_06x80.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</visual>
		<!-- <visual name="Gear_1M_84T_20PA">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/Gear_1M_84T_20PA.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.3 0.3 1.0"/>
			</material>
			<material name="silver" />
		</visual> -->
	</link>
	<joint name="shoulder" type="revolute">
		<parent link="torso_link" />
		<child link="shoulder_link" />
		<origin xyz="0.0 0.0 0.150" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="2.5" lower="-0.8" velocity="100" effort="100" />
	</joint>
	<link name="shoulder_link">
		<inertial>
			<origin xyz="0 0.0 0.0425" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="shoulder_big_part">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/shoulder_big_part.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<visual name="torso_axis">
			<origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
		</visual>
		<visual name="shoulder_big_part">
			<origin  xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/shoulder_big_part.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="orange" />
		</visual>
	</link>
	<joint name="elbow" type="revolute">
		<parent link="shoulder_link" />
		<child link="elbow_link" />
		<origin xyz="0.0 0.0 0.1778" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="1.0" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="elbow_link">
		<inertial>
			<origin xyz="0.080 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="elbow_big_part">
			<origin xyz="0.0889 0.025 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.1778 ${sheet_thickness} 0.050"/>
			</geometry>
		</collision>
		<visual name="elbow_axis">
			<origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="green" />
		</visual>
		<visual name="elbow_big_part">
			<origin  xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/elbow_big_part.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="orange" />
		</visual>
	</link>
	<joint name="p" type="revolute">
		<parent link="elbow_link" />
		<child link="p_link" />
		<origin xyz="0.1778 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="p_link">
		<inertial>
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="p_center">
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.013 0.013 0.016"/>
			</geometry>
		</collision>
		<collision name="ldg">
			<origin  xyz="0.0 -0.025 0.0" rpy="-${pi/2} 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<collision name="rdg">
			<origin  xyz="0.0 0.025 0.0" rpy="${pi/2} 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<visual name="p_axis">
			<origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="AxisGreen">
				<color rgba="0.0 1.0 0.0 1.0"/>
			</material>
		</visual>
		<visual name="p_center">
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.013 0.013 0.016"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="ldg">
			<origin  xyz="0.0 -0.025 0.0" rpy="-${pi/2} 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="rdg">
			<origin  xyz="0.0 0.025 0.0" rpy="${pi/2} 0.0 0.0"/>
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="orange" />
		</visual>
	</link>
	<joint name="r" type="revolute">
		<parent link="p_link" />
		<child link="gripper_main" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="1.0 0.0 0.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="gripper_main">
		<inertial>
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="cdg">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 -${pi/2} 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<collision name="r">
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.019 0.07 0.019"/>
			</geometry>
		</collision>
		<visual name="r_axis">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 -${pi/2} 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="red" />
		</visual>
		<visual name="cdg">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 -${pi/2} 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/gear_bevel_1.5M20T_20PA_11FW.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
		<visual name="r">
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.019 0.07 0.019"/>
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<joint name="finger_1" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_1_link" />
		<origin xyz="0.0275 -0.035 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="0.347" lower="-0.6" velocity="100" effort="100" />
		<!-- <limit upper="0.6" lower="-0.6" velocity="100" effort="100" /> -->
	</joint>
	<joint name="finger_2" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_2_link" />
		<origin xyz="0.0275 -0.028 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="1.0" offset="0.0" />
	</joint>
	<joint name="finger_3" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_3_link" />
		<origin xyz="0.0275 0.035 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<joint name="finger_4" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_4_link" />
		<origin xyz="0.0275 0.028 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<link name="finger_1_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_1">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_1">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_2_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_2">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_2">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_3_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_3">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_3">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_4_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_4">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_4">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>

	<joint name="fingertip_r" type="revolute">
		<parent link="finger_2_link" />
		<child link="fingertip_r_link" />
		<origin xyz="0.044 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<link name="fingertip_r_link">
		<inertial>
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="fingertip_r">
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
		</collision>
		<visual name="fingertip_r">
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
		<collision name="finger_prism_r">
			<origin xyz="0.0 0.003 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<visual name="finger_prism_r">
			<origin xyz="0.0 0.003 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual>
	</link>

	<joint type="revolute" name="fingertip_l">
		<parent link="finger_4_link" />
		<child link="fingertip_l_link" />
		<origin xyz="0.044 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="1.0" offset="0.0" />
	</joint>
	<link name="fingertip_l_link">
		<inertial>
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="fingertip_l">
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
		</collision>
		<visual name="fingertip_l">
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
		<collision name="finger_prism_l">
			<origin xyz="0.0 -0.0030 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<visual name="finger_prism_l">
			<origin xyz="0.0 -0.0030 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual>
	</link>

    <xacro:include filename="camera.xacro" />

    <xacro:include filename="gazebo.xacro" />
</robot>