<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robko01">

    <!-- This will include all the contents of example_include.xacro first. Go check it out! -->
    <xacro:include filename="include.xacro" />

    <!-- This first link called "world" is empty -->
    <link name="world"></link>

    <!-- A simple fixed joint from our empty world link, to our base. -->
    <!-- The base origin is offset from the world origin. -->
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="base_link"/>        
    </joint>
	<link name="base_link">
		<inertial>
			<origin xyz="-0.0685 0.0 0.027" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="body">
			<origin  xyz="-0.0685 0.0 0.027" rpy="0.0 0.0 0.0"/>
			<geometry>
				<box size="0.227 0.154 0.030"/>
			</geometry>
		</collision>
		<collision name="p1">
			<origin xyz="0.0 0.0 0.0425" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.045" length="0.005"/>
			</geometry>
		</collision>
		<collision name="ax1">
			<origin xyz="0.0 0.0 0.0825" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.085"/>
			</geometry>
		</collision>
		<collision name="f1">
			<origin xyz="0.0315 0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
		</collision>
		<collision name="f2">
			<origin xyz="0.0315 -0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
		</collision>
		<collision name="f3">
			<origin xyz="-0.1675 0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
		</collision>
		<collision name="f4">
			<origin xyz="-0.1675 -0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
		</collision>
		<visual name="body">
			<origin  xyz="-0.0685 0.0 0.027" rpy="0.0 0.0 0.0"/>
			<geometry>
				<box size="0.227 0.154 0.030"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="p1">
			<origin xyz="0.0 0.0 0.0425" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.045" length="0.005"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="ax1">
			<origin xyz="0.0 0.0 0.0825" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.085"/>
			</geometry>
			<material name="blue" />
		</visual>
		<visual name="f1">
			<origin xyz="0.0315 0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f2">
			<origin xyz="0.0315 -0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f3">
			<origin xyz="-0.1675 0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="f4">
			<origin xyz="-0.1675 -0.0635 0.00675" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.010" length="0.0135"/>
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<joint name="base" type="revolute">
		<parent link="base_link" />
		<child link="torso_link" />
		<origin xyz="0.0 0.0 0.050" rpy="0.0 0.0 0.0" />
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="torso_link">
		<inertial>
			<origin xyz="-0.0385 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="torso_l">
			<origin xyz="-0.0385 0.040 0.0675" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 ${sheet_thickness} 0.135"/>
			</geometry>
		</collision>
		<collision name="torso_6_c">
			<origin xyz="0.0 0.040 0.150" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="torso_c1">
			<origin xyz="-0.0385 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 0.078 ${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="torso_c2">
			<origin xyz="0.010 0.0 0.060" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.065 0.078 ${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="torso_r">
			<origin xyz="-0.0385 -0.040 0.0675" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 ${sheet_thickness} 0.135"/>
			</geometry>
		</collision>
		<collision name="torso_r_c">
			<origin xyz="0.0 -0.040 0.150" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="m1">
			<origin xyz="0.0 0.0565 0.090" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<collision name="m2">
			<origin xyz="-0.095 -0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<collision name="m3">
			<origin xyz="-0.095 0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<collision name="m4">
			<origin xyz="-0.025 -0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<collision name="m5">
			<origin xyz="-0.025 0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<collision name="m6">
			<origin xyz="0.0 -0.0565 0.090" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
		</collision>
		<visual name="torso_axis">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="blue"/>
		</visual>
		<visual name="torso_l">
			<origin xyz="-0.0385 0.040 0.0675" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 ${sheet_thickness} 0.135"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="torso_vertical_axis">
			<origin xyz="0.0 0.040 0.150" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="torso_c1">
			<origin xyz="-0.0385 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 0.078 ${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="torso_c2">
			<origin xyz="0.010 0.0 0.060" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.065 0.078 ${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<!-- <visual name="torso_c3">
			<origin xyz="0.20 -0.40 0.0" rpy="0.0 0.0 ${pi/2}" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_inside.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual> -->
		<visual name="torso_c3">
			<origin xyz="-0.120 0.037 -0.001" rpy="${pi/2} 0.0 -${pi/2}" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/body_base_bottom.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual>
		<visual name="torso_r">
			<origin xyz="-0.0385 -0.040 0.0675" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.167 ${sheet_thickness} 0.135"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="torso_r_c">
			<origin xyz="0.0 -0.040 0.150" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<!-- <visual name="torso_sides">
			<origin xyz="-0.120 0.037 -0.001" rpy="${pi/2} 0.0 -${pi/2}" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_dynamic.STL" scale="1.001 1.001 1.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual> -->
		<visual name="m1">
			<origin xyz="0.0 0.0565 0.090" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="silver" />
		</visual>
		<visual name="m2">
			<origin xyz="-0.095 -0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="silver" />
		</visual>
		<visual name="m3">
			<origin xyz="-0.095 0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="silver" />
		</visual>
		<visual name="m4">
			<origin xyz="-0.025 -0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="MotorGray">
				<color rgba="0.3 0.3 0.3 1.0"/>
			</material>
		</visual>
		<visual name="m5">
			<origin xyz="-0.025 0.0565 0.030" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="silver" />
		</visual>
		<visual name="m6">
			<origin xyz="0.0 -0.0565 0.090" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.03" length="0.025"/>
			</geometry>
			<material name="silver" />
		</visual>
		<!-- <visual name="base_dynamic">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/base_dynamic.STL" scale="1.0 1.0 1.0"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.3 0.3 1.0"/>
			</material>
		</visual> -->
		<!-- <visual name="body_base_bottom">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/body_base_bottom.STL" scale="1.0 1.0 1.0"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.3 0.3 1.0"/>
			</material>
		</visual> -->
	</link>
	<joint name="shoulder" type="revolute">
		<parent link="torso_link" />
		<child link="shoulder_link" />
		<origin xyz="0.0 0.0 0.150" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="2.5" lower="-0.8" velocity="100" effort="100" />
	</joint>
	<link name="shoulder_link">
		<inertial>
			<origin xyz="0 0.0 0.0425" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="shoulder_l">
			<origin xyz="0.0 0.039 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.085 ${sheet_thickness} 0.1778"/>
			</geometry>
		</collision>
		<collision name="shoulder_l_c">
			<origin xyz="0.0 0.039 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="shoulder_c">
			<origin xyz="-0.0425 0.0025 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="${sheet_thickness} 0.073 0.1778"/>
			</geometry>
		</collision>
		<collision name="shoulder_r">
			<origin xyz="0.0 -0.034 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.085 ${sheet_thickness} 0.1778"/>
			</geometry>
		</collision>
		<collision name="shoulder_r_c">
			<origin xyz="0.0 -0.034 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<visual name="shoulder_axis">
			<origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="shoulder_l">
			<origin xyz="0.0 0.039 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.085 ${sheet_thickness} 0.1778"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="shoulder_l_c">
			<origin xyz="0.0 0.039 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="shoulder_c">
			<origin xyz="-0.0425 0.0025 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="${sheet_thickness} 0.073 0.1778"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="shoulder_r">
			<origin xyz="0.0 -0.034 0.0889" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.085 ${sheet_thickness} 0.1778"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="shoulder_r_c">
			<origin xyz="0.0 -0.034 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0425" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
	</link>
	<joint name="elbow" type="revolute">
		<parent link="shoulder_link" />
		<child link="elbow_link" />
		<origin xyz="0.0 0.0 0.1778" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="1.0" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="elbow_link">
		<inertial>
			<origin xyz="0.080 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="elbow_l">
			<origin xyz="0.0889 0.025 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.1778 ${sheet_thickness} 0.050"/>
			</geometry>
		</collision>
		<collision name="elbow_l_c">
			<origin xyz="0.0 0.025 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.025" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="elbow_c">
			<origin xyz="0.0825 0.0 0.025" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.165 0.050 ${sheet_thickness}"/>
			</geometry>
		</collision>
		<collision name="elbow_r">
			<origin xyz="0.0889 -0.025 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.1778 ${sheet_thickness} 0.050"/>
			</geometry>
		</collision>
		<collision name="elbow_r_c">
			<origin xyz="0.0 -0.025 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.025" length="${sheet_thickness}"/>
			</geometry>
		</collision>
		<visual name="elbow_axis">
			<origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="green" />
		</visual>
		<visual name="elbow_l">
			<origin xyz="0.0889 0.025 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.1778 ${sheet_thickness} 0.050"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="elbow_l_c">
			<origin xyz="0.0 0.025 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.025" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="elbow_c">
			<origin xyz="0.0825 0.0 0.025" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.165 0.050 ${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="elbow_r">
			<origin xyz="0.0889 -0.025 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.1778 ${sheet_thickness} 0.050"/>
			</geometry>
			<material name="orange" />
		</visual>
		<visual name="elbow_r_c">
			<origin xyz="0.0 -0.025 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.025" length="${sheet_thickness}"/>
			</geometry>
			<material name="orange" />
		</visual>
	</link>
	<joint name="p" type="revolute">
		<parent link="elbow_link" />
		<child link="p_link" />
		<origin xyz="0.1778 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 1.0 0.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="p_link">
		<inertial>
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="p_center">
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.013 0.013 0.016"/>
			</geometry>
		</collision>
		<collision name="p_r_c">
			<origin xyz="0.0 -0.0155 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
		</collision>
		<collision name="p_l_c">
			<origin xyz="0.0 0.0155 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
		</collision>
		<visual name="p_axis">
			<origin xyz="0.0 0.0 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="AxisGreen">
				<color rgba="0.0 1.0 0.0 1.0"/>
			</material>
		</visual>
		<visual name="p_center">
			<origin xyz="-0.003 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.013 0.013 0.016"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="p_r_c">
			<origin xyz="0.0 -0.0155 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="p_l_c">
			<origin xyz="0.0 0.0155 0.0" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<joint name="r" type="revolute">
		<parent link="p_link" />
		<child link="gripper_main" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="1.0 0.0 0.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
	</joint>
	<link name="gripper_main">
		<inertial>
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="r">
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.019 0.07 0.019"/>
			</geometry>
		</collision>
		<collision name="p_c_c">
			<origin xyz="0.0125 0.0 0.0" rpy="0.0 ${pi/2} 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
		</collision>
		<!-- <visual name="p_axis">
			<origin xyz="0.0275 0.00 0.0" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="AxisGreen">
				<color rgba="0.0 1.0 0.0 1.0"/>
			</material>
		</visual> -->
		<visual name="r_axis">
			<origin xyz="0.0 0.0 0.0" rpy="0.0 -${pi/2} 0.0" />
			<geometry>
				<cylinder radius="0.001" length="0.500"/>
			</geometry>
			<material name="red" />
		</visual>
		<visual name="r">
			<origin xyz="0.0275 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.019 0.07 0.019"/>
			</geometry>
			<material name="black" />
		</visual>
		<visual name="p_c_c">
			<origin xyz="0.0125 0.0 0.0" rpy="0.0 ${pi/2} 0.0" />
			<geometry>
				<cylinder radius="0.0075" length="0.016"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<joint name="finger_1" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_1_link" />
		<origin xyz="0.0275 -0.035 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="0.347" lower="-0.6" velocity="100" effort="100" />
		<!-- <limit upper="0.6" lower="-0.6" velocity="100" effort="100" /> -->
	</joint>
	<joint name="finger_2" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_2_link" />
		<origin xyz="0.0275 -0.028 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="1.0" offset="0.0" />
	</joint>
	<joint name="finger_3" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_3_link" />
		<origin xyz="0.0275 0.035 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<joint name="finger_4" type="revolute">
		<parent link="gripper_main" />
		<child link="finger_4_link" />
		<origin xyz="0.0275 0.028 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<link name="finger_1_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_1">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_1">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_2_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_2">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_2">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_3_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_3">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_3">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>
	<link name="finger_4_link">
		<inertial>
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="finger_4">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
		</collision>
		<visual name="finger_4">
			<origin xyz="0.025 0.0 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.044 0.006 0.014"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
	</link>

	<joint name="fingertip_r" type="revolute">
		<parent link="finger_2_link" />
		<child link="fingertip_r_link" />
		<origin xyz="0.044 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="-1.0" offset="0.0" />
	</joint>
	<link name="fingertip_r_link">
		<inertial>
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="fingertip_r">
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
		</collision>
		<visual name="fingertip_r">
			<origin xyz="0.0105 -0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
		<!-- <collision name="finger_prism_r">
			<origin xyz="-0.070 0.003 0.194" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision> -->
		<!-- <visual name="finger_prism_r">
			<origin xyz="-0.070 0.003 0.194" rpy="-${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual> -->
	</link>

	<joint type="revolute" name="fingertip_l">
		<parent link="finger_4_link" />
		<child link="fingertip_l_link" />
		<origin xyz="0.044 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<axis xyz="0.0 0.0 1.0" />
		<limit upper="${pi/2}" lower="-${pi/2}" velocity="100" effort="100" />
		<mimic joint="finger_1" multiplier="1.0" offset="0.0" />
	</joint>
	<link name="fingertip_l_link">
		<inertial>
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<mass value="10" />
			<inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
		</inertial>
		<collision name="fingertip_l">
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
		</collision>
		<visual name="fingertip_l">
			<origin xyz="0.0105 0.00325 0.0" rpy="0.0 0.0 0.0" />
			<geometry>
				<box size="0.026 0.013 0.019"/>
			</geometry>
			<material name="dark_gray" />
		</visual>
		<!-- <collision name="finger_prism_l">
			<origin xyz="-0.070 -0.0030 -0.194" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
		<visual name="finger_prism_l">
			<origin xyz="-0.070 -0.0030 -0.194" rpy="${pi/2} 0.0 0.0" />
			<geometry>
				<mesh filename="package://robko01_ros2/meshes/finger_prism.STL" scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="">
				<color rgba="0.3 0.5 0.3 1.0"/>
			</material>
		</visual> -->
	</link>

    <xacro:include filename="camera.xacro" />

    <xacro:include filename="gazebo.xacro" />
</robot>